/* Login.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat';
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #DBD7C9, #4C4B43);
  width: 100%;
}

.login-form {
  background: linear-gradient(135deg, #DBD7C9, whitesmoke);;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.login-title {
  margin-bottom: 1.5rem;
  font-weight: 800;
  font-size: 2rem;
  color: #4C4B43;
  letter-spacing: 2;
}

.login-error {
  color: red;
  margin-bottom: 1rem;
}

.login-input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: #4C4B43;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.login-button:hover {
  background-color: #3d3c3ac8;
}
